extends layout

block content
    div(class="cont")
        h1(id="latlng")RouteBuilder
        div(id="btngroup",class="buttons")
            button(id="clear")Limpiar
            button(id="delete")Eliminar
            button(id="generate")Generar
        input(type="text",id="data")
    div(id="map")