<div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="route[name]" value="<%= route.name %>" placeholder="Nombre de la ruta">
</div>
<div class="form-group">
    <label for="company">Compañia</label>
    <input type="text" class="form-control" id="company" name="route[company]" value="<%= route.company %>" placeholder="Compañia">
</div>
<div class="form-group">
    <label for="path">Ruta codificada</label>
    <input type="text" class="form-control" id="path" name="route[path]" value="<%= route.path %>" placeholder="Ruta">
</div>
<input id="save" type="submit" class="btn btn-success" value="Guardar">