<div class="list-group">
<% var i; for(i = 0; i < routes.length; i++){ %>
    <div class="list-group-item">
        <p><%= routes[i].name %></p>
        <p><%= routes[i].company %></p>
        <span><%= routes[i].path %></span>
    </div>
<% } %>
</div>
<script>
    $('#options').children('li').removeClass('active');
    var item = $('#options').children()[1];
    $('#options').find(item).addClass('active');
</script>